.hero {
  background: white;
  box-sizing: border-box;
  padding: 2rem;
  border: 1px solid white;
  border-radius: 2px;
}

.headline {
  font-size: 2.5rem;
  white-space: nowrap;
}

.description {
  font-size: .95rem;
  margin-bottom: 2rem;
}

@media only screen and (min-width: 48rem) {
  .headline {
    font-size: 4rem;
    margin-bottom: 2rem;
  }
  .description {
    font-size: 1.35rem;
  }
}
